{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/assets/js/autoComplete.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
        $(document).ready(function(){
            autoCompleteInit();
        });
    </script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Company list</h1>
</div>
<div class="row search-block">
    <div class="col-md-12">
        <form id="search-form" method="get">
            Find <input id="search" type="text" name="q" autocomplete="off" placeholder="Start typing...">
            <input type="button" id="search-submit" value="Go">
        </form>
    </div>
</div>
<div class="row table-header">
    <div class="col-md-4">Company</div>
    <div class="col-md-4">Country</div>
    <div class="col-md-4">Phone</div>
</div>
{% for comp in companies %}
<div class="row table-rows">
    <div class="col-md-4"><a href="company/{{comp._id}}">{{comp.company}}</a></div>
    <div class="col-md-4">{{comp.country}}</div>
    <div class="col-md-4">{{comp.phone}}</div>
</div>
{% endfor %}
{% endblock %}